@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<dl>
@foreach (var item in User.Claims)
{
    <dt>@item.Type</dt>
    <dt>@item.Value</dt>
}
</dl>